@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    background-color: #252629;
    color: #FFF;
}

nav > a {
    text-decoration: none;
    color: #FFF
}

footer > p, h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: auto;
}
